
@{
    ViewData["Title"] = "Index";
}

<section id="about" class="container">
    <h1 class="title">About Teligati Tech</h1>
    <hr class="line">
    <div class="flex">
        <div>
            <div>
                <h2>Best Desktop PC Shop In Bangladesh</h2>
                <p>
                    Teligati Tech has the most comprehensive array of Desktop PCs. We offer top-of-the-line Custom PC, Brand PC, All-in-One PC, and Portable
                    Mini PC at our stores spread all over Bangladesh. Get your new iMac Desktop or Apple Mac Mini with an international warranty
                    and servicing plan.
                </p>
            </div>

            <div>
                <h2>Best Gaming PC Shop In Bangladesh</h2>
                <p>
                    We at Teligati Tech love gaming. Therefore, we aim to provide the best gaming service in Bangladesh with our Gaming PC Shop,
                    “Teligati Tech Rig House”. The Rig House is highly decorated with premium, gaming-focused computer components for customers
                    to build their Gaming or Rendering PC. Our Gaming shop offers the broadest range of Gaming PC, Gaming Laptops, and Game
                    Consoles from XBOX & PlayStation.
                </p>
            </div>
        </div>
        <div>
            @*<img src="https://us.123rf.com/450wm/vladgrin/vladgrin1902/vladgrin190200077/124976508-building-mobile-interface-on-screen-of-laptop-smartphone-tablet-developers-use-software-on.jpg?ver=6" alt="banner3">*@
            <img src="~/img/banner3.PNG"/>
        </div>
    </div>

    <div>
        <h2>Leading Computer, Laptop & Gaming PC Retail & Online Shop in Bangladesh</h2>
        <p>
            Technology has become a part of our daily lives and for a huge portion of our life, we depend on tech products daily.
            There is hardly a home in Bangladesh without a tech product. This is where we come in. Teligati Tech Ltd. Teligatited as a Tech
            Product Shop way back in March 2007. We focused on giving the customers the best service possible. This is why Teligati Tech
            is one of The most trusted names in the tech industry of Bangladesh today. After a long 16-year journey; Teligati Tech Ltd. was
            certified with the renowned "ISO 9001:2015 certification" as a recognition for the best Quality Control Management System.
            As an "ISO 9001:2015 certified" organization; Teligati Tech Ltd. is now up to the international standards that specify a Quality Management System (QMS). This Certification denotes that
            this organization consistently maintains all sorts of regulatory requirements to provide products and services for meeting all sorts of customer requirements.
        </p>
    </div>

    <div>
        <h2>Best Laptop Shop in Bangladesh</h2>
        <p>
            Teligati Tech is the largest and most reliable Branded Laptop Shop in BD. Whether you are a freelancer, office goer, or student -
            Teligati Tech Laptop Shop has the perfect device for you. Gamers love our collection of Gaming Laptops because we always bring
            the latest configuration devices to Bangladesh. Your budget is our top concern. Get an Intel Laptop or AMD Laptop within your
            desired price tag from Teligati Tech. Also, buy genuine official Apple Macbook Air or Macbook Pro laptop from our laptop shop. Teligati
            Tech sells the latest models of the most popular laptop computer brands such as Razer, HP, Dell, Apple Macbook, Asus, Acer, Lenovo,
            Microsoft Surface, MSI, Gigabyte, i-Life, Walton, Xiaomi MI, Huawei, Chuwi, etc.
        </p>
    </div>
</section>

