@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="identity container">
    <h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <div>
        <div>
            <form method="post" class="form-container">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="msg"></span>
                </div>
                <button type="submit" class="btn">Reset Password</button>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
