@{
    ViewData["Title"] = "Home Page";
}

<section class="banner flex">
    <h1>Build Your Dream PC</h1>
    <a asp-controller="Category" asp-action="Index" class="btn btn-pc-build">Go to PC Builder</a>
</section>


<section id="components" class="container">
    <h2 class="title">COMPONENTS</h2>
    <hr class="line">
    <div class="card-container flex">
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/processor/p1.jpg" alt="processor">
                </div>
                <h3>Processor</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/gpu/gpu1.jpg" alt="Graphics card">
                </div>
                <h3>Graphics Card</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/motherboard/mb1.jpg" alt="Motherboard">
                </div>
                <h3>Motherboard</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/headphone/hp1.jpg" alt="headphone">
                </div>
                <h3>Headphone</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/chair/chair-1.jpg" alt="chair">
                </div>
                <h3>Chair</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/ram/ram1.jpg" alt="Ram">
                </div>
                <h3>Ram</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/ssd/ssd1.jpg" alt="SSD">
                </div>
                <h3>SSD</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/case/case1.jpg" alt="case">
                </div>
                <h3>Case</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/cooler/cooler1.jpg" alt="cooler">
                </div>
                <h3>CPU Cooler</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/hard-disk/hdd1.jpg" alt="hard disk">
                </div>
                <h3>Hard Disk</h3>
            </a>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="Category" asp-action="Index">
                <div>
                    <img src="../img/psu/psu1.jpg" alt="Power Supply">
                </div>
                <h3>Power Supply</h3>
            </a>
        </div>
    </div>
</section>