@{
    ViewData["Title"] = "Home Page";
}

<section class="banner flex">
    <h1>Build Your Dream PC</h1>
    <a asp-controller="Category" asp-action="Index" class="btn btn-pc-build"><i class="fa-solid fa-cart-shopping"></i> Go to PC Builder</a>
</section>


<section id="components" class="container">
    <h2 class="title">COMPONENTS</h2>
    <hr class="line">
    <div class="card-container flex">
        <div class="card">
            <a href="Category/#processor">
                <div>
                    <img src="../img/processor/p1.jpg" alt="processor">
                </div>
                <h3>Processor</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#gpu">
                <div>
                    <img src="../img/gpu/gpu1.jpg" alt="Graphics card">
                </div>
                <h3>Graphics Card</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#motherboard">
                <div>
                    <img src="../img/motherboard/mb1.jpg" alt="Motherboard">
                </div>
                <h3>Motherboard</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#headphone">
                <div>
                    <img src="../img/headphone/hp1.jpg" alt="headphone">
                </div>
                <h3>Headphone</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#chair">
                <div>
                    <img src="../img/chair/chair-1.jpg" alt="chair">
                </div>
                <h3>Chair</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#ram">
                <div>
                    <img src="../img/ram/ram1.jpg" alt="Ram">
                </div>
                <h3>Ram</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#ssd">
                <div>
                    <img src="../img/ssd/ssd1.jpg" alt="SSD">
                </div>
                <h3>SSD</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#casing">
                <div>
                    <img src="../img/case/case1.jpg" alt="case">
                </div>
                <h3>Case</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#cooler">
                <div>
                    <img src="../img/cooler/cooler1.jpg" alt="cooler">
                </div>
                <h3>CPU Cooler</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#hard-disk">
                <div>
                    <img src="../img/hard-disk/hdd1.jpg" alt="hard disk">
                </div>
                <h3>Hard Disk</h3>
            </a>
        </div>
        <div class="card">
            <a href="Category/#psu">
                <div>
                    <img src="../img/psu/psu1.jpg" alt="Power Supply">
                </div>
                <h3>Power Supply</h3>
            </a>
        </div>
    </div>
</section>

@*----------TOP SELLING PRODUCTS------------------------*@  

<section id="top-products"  class="container">
    <h1 class="title">Top selling products</h1>
    <hr class="line" />

    <div class="card-container flex">
        <div class="card">
            <div>
                <img src="../img/laptop/laptop1.png" alt="laptop">
            </div>
            <h3>Asus ROG Flow X13 GV301QE Ryzen 9 5980HS</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/gpu/gpu1.jpg" alt="gpu">
            </div>
            <h3>MSI GeForce GTX 1650 VENTUS XS 4G OC Graphics Card</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/monitor/monitor1.jpg" alt="monitor">
            </div>
            <h3>XIAOMI REDMI G24 165HZ 23.8 INCH GAMING MONITOR</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/processor/p1.jpg" alt="processor">
            </div>
            <h3>INTEL CORE I9-13900F 5.60 GHZ 24 CORES LGA 1700 13TH GEN PROCESSOR</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/case/case1.jpg" alt="case">
            </div>
            <h3>Lian Li O11D O11 Dynamic ATX Mid Tower Gaming Case</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/keyboard/kb1.jpg" alt="kb">
            </div>
            <h3>Keychron K2 Wireless RGB Hot Swap Aluminum Frame Mechanical Keyboard</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/chair/chair-1.jpg" alt="chair">
            </div>
            <h3>Aula F8093 Premium Quality Gaming Chair</h3>
        </div>

        <div class="card">
            <div>
                <img src="../img/motherboard/mb1.jpg" alt="motherboard">
            </div>
            <h3>ASUS TUF GAMING B650M-PLUS WIFI AM5 MICRO-ATX MOTHERBOARD</h3>
        </div>
    </div>
</section>