.identity {
    margin-top: 130px;
    margin-bottom: 70px;
    color: #0d0d5a;
}
.identity > h1{
    text-align: center;
    margin-top: 20px;
}

.identity#login, .identity#register{
    margin-top: 70px;
    margin-bottom: 50px;
}

.identity-nav li {
    font-size: 20px;
    margin: 10px;
}

.identity .identity-sub{
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .identity#login, .identity#register {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    #login .flex, #register .flex{
        align-items: center;
        justify-content: center;
    }
    #login form h1, #register form h1{
        font-size: 30px;
    }
    #login form div, #register form div{
        margin: 20px 0;
    }
    #login form label, #login form input, #register form label, #register form input {
        font-size: 18px;
        margin: 8px 0;
    }
    #login form input, #register form input {
        margin: 6px 0;
        padding: 4px;
    }
    #login form p a, #register form p a{
        font-size: 12px;
        margin: 2px;
    }

    #login .flex img, #register .flex img {
        display: none;
    }
    #login .btn-login, #login .btn-createAcc, #register .btn-createAcc {
        padding: 10px;
    }
}