#cartView{
    margin-top: 110px;
}

#cartView table{
    width: 80%;
    margin: 20px auto;
}
#cartView table tr:nth-child(2n+1){
    background-color: #eee;
}
#cartView table td, #cartView table th{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px 10px;
}

#cartView h2{
    text-align: right;
    margin-right: 100px;
}

#cartView .btn{
    width: 8%;
    font-size: 14px;
    border-radius: 50%;
    margin-left: auto;
}