@model Category

<div class="container products" id="create-product">
    <div>
        <h1>Add Informations</h1>
        <span>*All fields are required</span>
    </div>
    <form method="post">
        <div>
            <label asp-for="Component"></label>
            <select asp-for="Component">
                <option value="processor">Processor</option>
                <option value="gpu">GPU</option>
                <option value="ram">RAM</option>
                <option value="ssd">SSD</option>
                <option value="psu">Power Supply</option>
                <option value="motherboard">Motherboard</option>
                <option value="cooler">CPU Cooler</option>
                <option value="case">Casing</option>
                <option value="hdd">Hard Disk</option>
                <option value="chair">Chair</option>
                <option value="headphone">Headphone</option>
            </select>
            <span asp-validation-for="Component"></span>
        </div>

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="ImgUrl"></label>
            <input asp-for="ImgUrl" />
            <span asp-validation-for="ImgUrl"></span>
        </div>

        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </div>

        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>

        <button class="btn" type="submit">Create</button>
    </form>
    <a asp-action="Index" asp-controller="Category" class="btn">Back to Products</a>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}