@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div>
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div >
        <form id="change-password-form" method="post" class="form-container">
            <div asp-validation-summary="ModelOnly" class="msg" role="alert"></div>
            <div>
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="msg"></span>
            </div>
            <div>
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="msg"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="msg"></span>
            </div>
            <button type="submit" class="btn">Update Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
